{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIn": true,
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "not ie <= 11",
        ]
      }
    }],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "alias": {
        "@": "./app"
      }
    }],
  ],
}
